# This buildout is used for development of dataflake.ldapconnection.

[buildout]
develop = .
parts = 
    test
    coverage
    sphinx
    tox

[test]
recipe = zc.recipe.testrunner
eggs = dataflake.ldapconnection

[coverage]
recipe = zc.recipe.testrunner
defaults = ['-s', 'dataflake.ldapconnection', '--coverage=parts/coverage']
eggs = dataflake.ldapconnection

[sphinx]
recipe = zc.recipe.egg
eggs =  
    dataflake.ldapconnection[docs]
    Sphinx
scripts =
    sphinx-build

[tox]
recipe = zc.recipe.egg
eggs = tox
