li a {
    color: black;
}
input {
    background:transparent;
    border:1px solid #ffffff
    huerreson:expression_r(this.width=this.scrollWidth)
}
input[type="submit"] {
    margin: 0  auto;
    width:68%
}
body {
    background: gray
url("images/bluesee.jpg") no-repeat;
}
