html {
  font-size: 100%;
  padding-top: 60px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 { font-size: 2.369em; }

h3 { font-size: 1.777em; }

h4 { font-size: 1.333em; }

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

a, a:visited {
  color: #01C4A7;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.8em;
  border-radius: 3px;
  border: 1px solid grey;
  box-sizing: border-box;
  display: block;
}

select {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.8em;
  border-radius: 3px;
  border: 1px solid grey;
  box-sizing: border-box;
  display: block;
  background-color: white;
}


textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid grey;
  box-sizing: border-box;
  display: block;
  resize: vertical;
  height: 200px;
}

button,
input[type=button],
input[type=submit] {
  text-transform: uppercase;
  padding: 0.8em;
  background-color: #01C4A7;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  max-width: 1000px;
}

.content {
  padding: 10px;
}

.material-icons {
  vertical-align: bottom;
}

.clickme {
  cursor: pointer;
}

.success {
  background-color: #23D160;
  color: white;
}

.error {
  background-color: #FF3860;
  color: white;
}

.notification {
  border-radius: 5px;
}

#navbar {
  width: 100%;
  top: 0;
  height: 60px;
  color: white;
  background-color: #373737;
  position: fixed;
  z-index: 1;
  text-align: vertical;
}

#navbar li, #navbar a {
  color: white;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}

#navbar a:hover {
  text-decoration: none;
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#close-sidenav {
  width: 100%;
  text-align: right;
}

#map {
  width: 500px;
  height: 300px;
}

h1#name {
  font-style: italic;
}

#tools {
  margint-top: 10px;
  margin-left: -10px;
}

#tools a, tools a:hover {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.box h2 {
  margin-top: 0;
}

.grid {
  width: 100%;
  /* max-width: 1100px; */
  margin: 0 auto;
}

.grid:before, .grid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.grid:after, .row:after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  float: left;
  min-height: 1px;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 500px) {
  .col-1 {width: 8.33333%;}
  .col-2 {width: 16.66667%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33333%;}
  .col-5 {width: 41.66667%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33333%;}
  .col-8 {width: 66.66667%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33333%;}
  .col-11 {width: 91.66667%;}
  .col-12 {width: 100%;}
}

#tools {
  margin-bottom: 40px;
  margin-top: 40px;
}

h1#name span {
  font-style: normal;
}

.hidden-heading {
  display: none;
}

.editable {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.8em;
}

