#name {
  font-style: italic;
}

.auth {
  font-style: normal;
}

#gallery img {
  max-width: 100%;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  overflow: hidden;
}

