#NOTE: secrets go in common_config_local.cfg (NOT COMMITTED)
[LOGGING]
    log_level = INFO
    log_path = logs
    log_freq = midnight
    log_total = 30
    discord_webhook = #SECRET
    discord_level = ERROR
    discord_alert_recipient = <@236681427817725954>
    slack_webhook = #SECRET
    slack_level = ERROR
    hipchat_webhook = #SECRET
    hipchat_level = ERROR

[TEST]
    request_logname = urllib3.connectionpool
    request_POST_endpoint = https://discordapp.com:443 "POST /api/webhooks/{serverid}/{api_key} HTTP/1.1" 204 0
    request_new_connection = Starting new HTTPS connection (1): discordapp.com:443
    slack_new_connection = Starting new HTTPS connection (1): hooks.slack.com:443
    slack_POST_endpoint = https://hooks.slack.com:443 "POST {webhook_info} HTTP/1.1" 200 22
    hipchat_new_connection = Starting new HTTPS connection (1): {hipchat_hostname}:443
    hipchat_POST_endpoint = {hipchat_hostname}{hipchat_port} "POST {webhook_info} HTTP/1.1" 204 0
    hipchat_hostname = #SECRET
    hipchat_port = :443