#main_content, #pre_content, #main_menu {
	border-style: solid;
	border-color: red;
	border-width: 1px;
} 

table {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-collapse: collapse;
    text-align: left;
}

th, td {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

#pre_content, .hidden {
	display: none;
}

/*input[type=button] {
	background-color: transparent;
	width: 110px;
	height: 30px;
	color: white;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}*/
